[paths]
# 源数据目录路径，一般为录音文件所在目录，后缀_recorded
data_dir = E:\Projects_Data\Adaptive_Ear_Matching\251209_4Fb_3Ear\20251209_test\20251209_test_Recorded
# 重组织后数据保存目录路径
root_dir = E:\Projects_Data\Adaptive_Ear_Matching\251209_4Fb_3Ear\data
# participant_session_后缀对应记录excel文件
mapping_xlsx = E:\Projects_Data\Adaptive_Ear_Matching\251209_4Fb_3Ear\20251209_test\record.xlsx

[prefixes]
# 需要提取的前缀列表，逗号分隔
values = Spk, Ear1, Ear2, Ear3, Fb1, Fb2, Fb3, Fb4
